body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.card h2 {
  font-size: 2em;
  text-align: center;
  position: absolute; /* Position the h2 element absolutely */
  top: 10px; /* Adjust the top position as needed */
  left: 50%; /* Align the h2 element to the horizontal center of the card */
  transform: translateX(-50%); /* Move the h2 element left by half of its own width to center it */
  margin: 0; /* Remove default margin */

}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 800px;
  padding: 20px;
  padding-top: 1000px; /* Add top padding to push the cards down */
  overflow-x: auto;
}

.card {
  position: relative;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.card img {
  width: 100%; /* Ensure the image takes up the full width of the card */
  height: 50%; /* Set the height of the image to 50% of the card's height */
  object-fit: cover; /* Maintain aspect ratio and cover the entire area */
}
.card:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.9);
}

.card::before {
  content: '';
  display: block;
  padding-top: 100%; /* Aspect ratio 1:1 (square) */
}

.card:nth-child(odd) {
  background-color: #f9f9f9;
}
